<% const options = { weekday: 'short', year: 'numeric', month: 'long', day:
'numeric', hour: 'numeric', minute: 'numeric', hour12: false } %>

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site de Tecnologia</title>

    <!-- inclusão do CDN Bootstrap por arquivo externo -->
    <%- include('./../common/bootstrap_cdn.ejs') %>

    <!-- Estilo CSS externo -->
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <%- include('./../common/header.ejs') %>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Bem Vindo ao site de Tecnologia</h1>
        <p class="lead">Ultimas notícias no mundo da tecnologia com Node.js</p>
      </div>
    </div>

    <main class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-4">
        <!-- podemos colocar códigos javaScript dentro do arquivo EJS que vão ser interpretados pelo servidor. A sintaxe utilizada para isso < % % > -->
        <% noticias.forEach(noticia => { %>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <!-- para imprimir o conteúdo de uma variável vamos utilizar a sintaxe < % = nomeVariável % > o conteúdo dentro desta sintaxe aparecera na página HTML-->
              <p class="card-text"><%= noticia.titulo %></p>
              <div class="d-flex justify-content-between align-itens-center">
                <div class="btn-group">
                  <a
                    class="btn btn-sm btn-outline-primary"
                    href="/noticia?id=<%= noticia.id_noticia %>"
                    >Saiba Mais</a
                  >
                </div>
                <small class="text-muted"
                  ><%= noticia.data_criacao.toLocaleString('pt-BR', options)
                  %></small
                >
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </main>

    <%- include('./../common/footer.ejs') %>

    <script src="./js/script.js"></script>
  </body>
</html>
